---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/cookie-crushers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"70f18583ad50884e483281cb10619f25"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":16,"created_at":"2014-06-24 21:59:06 UTC","updated_at":"2014-06-24
        21:59:06 UTC","name":"cookie-crushers","version":0,"env":{},"formation":{"web":"1"},"url":"cookie-crushers.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:01:36 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/16/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"7e709a3bdb62002d3f3509d009fc6505"'
    body:
      encoding: UTF-8
      string: '{"logs":"/sessions/969a3dab-cf03-42a1-a8e7-3ad70cb067fd"}'
  recorded_at: Tue, 24 Jun 2014 22:01:52 GMT
recorded_with: VCR 2.9.2
