---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/releases-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"042a5f4820c07d6f85a4d00b187db7f9"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":8,"created_at":"2014-06-24 18:36:20 UTC","updated_at":"2014-06-24
        18:36:20 UTC","name":"releases-test","version":0,"env":{},"formation":{"web":"1"},"url":"releases-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 21:58:08 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/8/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 24 Jun 2014 21:58:09 GMT
recorded_with: VCR 2.9.2
