---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/cookie-crushers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"70f18583ad50884e483281cb10619f25"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":16,"created_at":"2014-06-24 21:59:06 UTC","updated_at":"2014-06-24
        21:59:06 UTC","name":"cookie-crushers","version":0,"env":{},"formation":{"web":"1"},"url":"cookie-crushers.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:02:01 GMT
- request:
    method: post
    uri: http://api.dawn.dev/apps/16/scale
    body:
      encoding: UTF-8
      string: '{"app":{"formation":{"web":2}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"c61ca4cc37cdd20e1ca0b6b0544c6993"'
    body:
      encoding: UTF-8
      string: '{"formation":{"web":"2"}}'
  recorded_at: Tue, 24 Jun 2014 22:02:03 GMT
recorded_with: VCR 2.9.2
