---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/cookie-crushers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"831f4f06614ad204a50ca98c6f6f85ca"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":16,"created_at":"2014-06-24 21:59:06 UTC","updated_at":"2014-06-24
        22:01:42 UTC","name":"cookie-crushers","version":0,"env":{},"formation":{"web":"2"},"url":"cookie-crushers.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 22:02:08 GMT
- request:
    method: post
    uri: http://api.dawn.dev/apps/16/gears/restart
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"960e2ff7d8088d758c2145d8dcd915dc"'
    body:
      encoding: UTF-8
      string: '{"message":"gears have been restarted"}'
  recorded_at: Tue, 24 Jun 2014 22:02:09 GMT
recorded_with: VCR 2.9.2
