---
http_interactions:
- request:
    method: post
    uri: http://api.dawn.dev/account/keys
    body:
      encoding: UTF-8
      string: '{"key":"invalid key for the win"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"id":"key.save.fail","message":"saving the key has failed","error":{"key":"is
        not a valid ssh public key","fingerprint":"can''t be blank"}}'
  recorded_at: Tue, 24 Jun 2014 22:06:08 GMT
recorded_with: VCR 2.9.2
