---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/apps/domains-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"fa385941ce7ac0ad8864e682bad181e4"'
    body:
      encoding: UTF-8
      string: '{"app":{"id":2,"created_at":"2014-06-24 18:36:05 UTC","updated_at":"2014-06-24
        18:36:05 UTC","name":"domains-test","version":0,"env":{},"formation":{"web":"1"},"url":"domains-test.dawnapp.dev"}}'
  recorded_at: Tue, 24 Jun 2014 21:53:59 GMT
- request:
    method: get
    uri: http://api.dawn.dev/apps/2/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 24 Jun 2014 21:54:01 GMT
recorded_with: VCR 2.9.2
