---
http_interactions:
- request:
    method: patch
    uri: http://api.dawn.dev/apps/some-app
    body:
      encoding: UTF-8
      string: '{"app":{"name":"some-app-thing"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"id":"app.not_exist","message":"App (id: some-app) does not exist"}'
  recorded_at: Tue, 24 Jun 2014 22:00:26 GMT
recorded_with: VCR 2.9.2
