---
http_interactions:
- request:
    method: get
    uri: http://api.dawn.dev/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"a0c5e72c41d0b8b3f3a32e7394ba9ae5"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":2,"created_at":"2014-06-24 18:34:17 UTC","updated_at":"2014-06-24
        18:34:17 UTC","username":"IceDragon","email":"mistdragon100@gmail.com","api_key":"aF3EG3XcumzJmKpaHyB9"}}'
  recorded_at: Tue, 24 Jun 2014 21:53:43 GMT
- request:
    method: patch
    uri: http://api.dawn.dev/account
    body:
      encoding: UTF-8
      string: '{"account":{"username":"MyNameIs"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"aa3ee9fa5443773c753ba9766a7e2e9b"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":2,"created_at":"2014-06-24 18:34:17 UTC","updated_at":"2014-06-24
        21:53:26 UTC","username":"MyNameIs","email":"mistdragon100@gmail.com","api_key":"aF3EG3XcumzJmKpaHyB9"}}'
  recorded_at: Tue, 24 Jun 2014 21:53:47 GMT
recorded_with: VCR 2.9.2
