---
http_interactions:
- request:
    method: post
    uri: http://api.dawn.dev/apps
    body:
      encoding: UTF-8
      string: '{"app":{"name":"ThaTunaCorps"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.1.2
      X-Ruby-Platform:
      - x86_64-linux
      Authorization:
      - Basic SWNlRHJhZ29uOmFGM0VHM1hjdW16Sm1LcGFIeUI5
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"id":"app.save.fail","message":"App (name: ThaTunaCorps) saving has
        failed","errors":{"name":"is invalid"}}'
  recorded_at: Tue, 24 Jun 2014 21:59:42 GMT
recorded_with: VCR 2.9.2
